/* BOOTSTRAP */
@import 'bootstrap/dist/css/bootstrap.min.css';

.profileHandle {
	margin-top: -5px !important;
}

.transition-rows-1 {
	transition: all 0.3s ease;
}

.transition-rows-6 {
	transition: all 0.3s ease;
}
